@font-face {
    font-family: 'BebasNeue';
    src: url('/fonts/BebasNeue-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Scoped faction theme for left panel */
.panel-left {
    background-color: #2f302c;
    /* panel background */
    color: #81ee77;

    overflow-x: hidden;
}

.panel-left .unit-button {
    background-color: #333333;
    color: #f5f5f5;
    border: 1px solid #a8a8a8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.panel-left .unit-button:hover {
    background-color: #000000;
}


.panel-left h2 {
    font-weight: 1;
    text-align: center;
    background-color: #000000;
    color: #ffffff;

    font-family: 'Times New Roman', Times, serif
}

.panel-left h1,
.panel-left h3,
.panel-left h4 {

    font-weight: 100;
    text-align: center;
    background-color: #b4b4b4;
    color: #364046;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-color: #364046;
}

.fixed-button.save {
    background-color: #86a2a3;
    border: 2px solid #f8f8f8;
    color: #5a6466;
    cursor: pointer;
    border-radius: 0.2rem;

}

.fixed-button.home {
    background-color: #86a2a3;
    border: 2px solid #f8f8f8;
    color: #5a6466;
    border-radius: 0.2rem;
}

.floating-total {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.6rem 1rem;
    font-weight: 600;
    text-align: center;
    z-index: 1500;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.2);
    background-color: #86a2a3;
    border: 2px solid #f8f8f8;
    color: #5a6466;
}

.army-builder .panel-label {

    background-color: #86a2a3;
    border: 2px solid #f8f8f8;
    color: #5a6466;
}

.army-builder .panel-label.active {
    background-color: #c0c0c0 !important;
    color: #000000 !important;
    border: 1px solid #000000 !important;

}

.page-btn {
    min-width: 5.5rem;
    /* or fit-content if you prefer */
    height: 2rem;
    padding: 0 0.75rem;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: background 0.2s;
    text-align: center;
    background-color: #86a2a3;
    border: 2px solid #f8f8f8;
    color: #5a6466;
}

.page-btn:hover {
    background: #86a2a3;
}

.page-btn.active {
    background: #464646;
    /* highlight active page */
    border-color: #ffffff;
    color: #ffffff
}

:root {
    /* Colors */
    --bg-color: #5bc047;
}

.page-btn:not(.active):focus,
.page-btn:not(.active):active {
    background: #b4b23a;
    /* or whatever your default is */
}